<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Graphs</title>
</head>
<body>
    <header>Generated Graphs</header>

    <div>
        <img src="{{ url_for('tmp_file', filename=graphs['pie_chart'].split('/')[-1]) }}" alt="Discretionary vs. Necessary">
    </div>
    <div>
        <img src="{{ url_for('tmp_file', filename=graphs['debt_to_income_ratio_chart'].split('/')[-1]) }}" alt="Debt-to-Income Ratio">
    </div>
    <div>
        <img src="{{ url_for('tmp_file', filename=graphs['savings_vs_cashflow_chart'].split('/')[-1]) }}" alt="Savings vs. Cash Flow">
    </div>

    <button id="return-button" style="margin-top: 20px;">Upload Another File</button>
    
    <script>
        document.getElementById('return-button').addEventListener('click', function() {
            // Redirect to index.html
            window.location.href = '/';
        });
    </script>
</body>
</html>
